* {
  margin: 0;
  padding: 0;
}
.item {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.nav-bar {
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
}
.nav-bar .left {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.nav-bar .left .logo {
  width: 60px;
  margin-right: 10px;
}
.nav-bar .left li:not(:last-child) {
  margin-right: 20px;
}
.nav-bar .left li a {
  display: flex;
  align-items: center;
}
.nav-bar .search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav-bar .search-area .input-container {
  height: 40px;
  border: 1px solid #f1f2f3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width: 500px;
  background-color: #f1f2f3;
}
.nav-bar .search-area .input-container:hover {
  background-color: #fff;
}
.nav-bar .search-area .input-container input {
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
}
.nav-bar .right {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.nav-bar .right li:not(:last-child) {
  margin-right: 20px;
}
.nav-bar .right li .upload-btn {
  width: 90px;
  height: 34px;
  border-radius: 8px;
  background-color: #fb7299;
  border: 0;
  cursor: pointer;
}
.nav-bar .right li .upload-btn:hover {
  background-color: #fc8bab;
}
.content {
  padding-top: 64px;
  background-color: #69c0ff;
  height: 2000px;
}
